/* component */
@font-face{
  font-family: "ProductSans";
  src: url(../fonts/Product_Sans_Regular.ttf) format("truetype");
}
body {
  font-family:  "ProductSans"
}
/* particle */
.hero-app-1 {
    position: absolute;
    left: 70%;
    top: 30%;
}
.hero-app-2 {
    position: absolute;
    left: -5%;
    bottom: 35%;
  }
  .hero-app-3 {
    position: absolute;
    top: 20%;
    left: 25%;
  }
  .hero-app-4 {
    position: absolute;
    bottom: 20%;
    left: 50%;
  }
.custom-animation {
    backface-visibility: hidden;
    animation: jumping 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all .9s ease 5s;
    user-select: none;
}
.custom-animation2 {
    backface-visibility: hidden;
    animation: jumping2 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 1s ease 3s;
    user-select: none;
  }
  .custom-animation3 {
    backface-visibility: hidden;
    animation: jumping3 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 7s ease 2s;
    user-select: none;
  }
  .custom-animation4 {
    backface-visibility: hidden;
    animation: jumping4 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 8s ease 4s;
    user-select: none;
  }
@keyframes jumping {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .8;
    }
    25% {
      transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
      opacity: .9;
    }
    50% {
      transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
      opacity: .8;
    }
    75% {
      transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
      opacity: .6;
    }
    85% {
      transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
      opacity: .85;
    }
  }
  @keyframes jumping2 {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .5;
    }
    25% {
      transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
      opacity: .8;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
      opacity: .9;
    }
  }
  
  @keyframes jumping3 {
    0% {
      transform: translateY(10px) translateX(0) rotate(0) scale(1);
      opacity: .9;
    }
    20% {
      transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
      opacity: .8;
    }
    40% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
      opacity: .8;
    }
    40% {
      transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
      opacity: 1;
    }
    80% {
      transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
      opacity: .6;
    }
    100% {
      transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
      opacity: .7;
    }
  }
  
  @keyframes jumping4 {
    0% {
      transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
      opacity: .7;
    }
    25% {
      transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
      opacity: .9;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
      opacity: .9;
    }
  }
  
  @keyframes jumping10 {
    0% {
      transform: rotate(180deg);
      display: block;
    }
    100% {
      transform: rotate(30deg);
      display: block;
    }
  }
  
  @keyframes jumping11 {
    0% {
      transform: rotate(180deg) translate(-20px, 20px);
      display: block;
    }
    100% {
      transform: rotate(30deg) translate(0px, 0px);
      display: block;
    }
  }
/* text-color */
.text-grey{
    color: #f2f2f2;
}

/* Laptop */
@media screen and (min-width: 1024px){
  .smartphone{
    display: none;
  }  
.heading-1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
}
.navbar{
    position: fixed;
}
body .jumbotron{
    background: url(../img/bali.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    margin: unset;
    padding: unset;
}
.jumbotron .overlay{
    background: linear-gradient(45deg, #09444ee0, #06044ac2);
    width: 100%;
    height: 100%;
    margin: unset;
    max-width: unset !important;
}
.jumbotron .container{
    /* position: absolute; */
}
.jumbotron .menu{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}
.jumbotron .menu li{
    display: inline;
    list-style-type: none;
    margin-right: 2rem;
}
.jumbotron .menu li a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.jumbotron .row-2{
    height: 100%;
}
.jumbotron .name-box{
    margin: auto auto;
    float: right;
}
.jumbotron .text-box{
    /* transform: skewY(-5deg); */
}
.jumbotron .name-box .heading-outline{
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.jumbotron .col-md-4{
    margin: auto auto;
    float: right;
}
.jumbotron .img-box{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
}
.jumbotron .img-box img{
    height: 100%;
}
.jumbotron .col-md-2{
    padding: unset;
    margin: auto;
}
.jumbotron .sosmed{
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
}
.jumbotron .sosmed span{
    color: white;
    font-size: larger;
    margin-left: 1rem;
}
}

/* HP */
@media screen and (max-width: 757px){
    /* huaa */
    .desktop{
        display: none;
    }
    /* huaa */
    @font-face{
      font-family: "ProductSans";
      src: url(../fonts/Product_Sans_Regular.ttf) format("truetype");
    }
    body {
      font-family:  "ProductSans";
      padding-bottom: 4rem;
      background: #201f1f !important;
    }
    .smartphone{
      font-family:  "ProductSans";
    }
    /* Componen */
    .text-white{
      color: white !important;
    }
    .text-white-2{
      color: #c5c5c5;
    }
    .particle-span{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: linear-gradient(45deg, #0156a996, transparent);
    }
    .particle-span-2{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: linear-gradient(45deg, transparent, #093f79);
    }.particle-span-3{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: #0b7e8aba;
    }
    .hero-app-1 {
        position: fixed;
        left: 70%;
        top: 0%;
    }
    .hero-app-2-fix {
      position: fixed;
      left: -15%;
      top: 4%;
      bottom: unset;
    }
    .hero-app-2 {
        position: absolute;
        left: -15%;
        top: 4%;
        bottom: unset;
    }
    .hero-app-3 {
        left: 10%;
        top: 44%;
        bottom: unset;
    }
    .line-head{
        display: block;
        border: 3px solid #0062cc;
        width: 20%;
        margin: 1rem auto;
        border-radius: 1000px;
    }
    .navbar .socmed-nav{
      float: right;
    }
    .navbar .socmed-nav span{
      margin-right: 1rem;
      font-size: 1.5rem;
    }
    .navbar .btn-neon{
      border-radius: 100px;
      padding-left: 2rem;
      padding-right: 2rem;
      color: white;
      font-weight: bold;
      background: linear-gradient(45deg, #0062cc, #17a2b8);
      box-shadow: 0px 5px 20px rgba(0, 123, 255, 0.56);
    }
    .navbar{
      background: #141414;
      border-radius: 30px 30px 0px 0px;
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      z-index: 9999;
      position: fixed;
      width: 100%;
    }
    .navbar .nav-row{
      width: 100%;
    }
    .header .jumbotron{
        padding: 20px 10%;
        margin: unset;
        height: 60vh;
        border-radius: unset;
        background: linear-gradient(45deg, #05275f, #00bba1);
    }
    .header .jumbotron .row-head{
        height: 50vh;
    }
    .header .head-box{
      top: 10vh;
      z-index: 1;
      margin: auto 0;
    }
    .header .jumbotron .img-box{
        z-index: 100;
        display: flex;
        margin: 1rem 0;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: radial-gradient(rgba(7, 42, 96, 0), rgba(25, 102, 165, 0.3215686274509804));
    }
    .header .jumbotron .img-box-2{
        margin: 0 auto;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: -1px 10px 30px 0px #07192d80;
    }
    .header .jumbotron .img-box-2 img{
        height: 100%;
    }
    .header .jumbotron .head-title{
        margin-top: 2rem;
    }
    .header .jumbotron .head-title h4 {
        color: white;
        margin: unset;
        font-size: 1.5rem;
        font-weight: bold;
    }
    /* about */
    .about{
      background: #201f1f;
    }
    .about .about-box{
        background: #201f1f;
        position: relative;
        top: -35px;
        border-radius: 40px 40px 0px 0px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .about .about-title{
        padding-top: 1rem;

    }
    /* skill */
    .skills .skill-box{
      background: #201f1f;
      padding-right: 30px;
      padding-left: 30px;
  }
  .skills .skill-card{
    overflow: hidden;
    border-radius: 20px;
    color: white;
    background: linear-gradient(45deg, #ff047b, #ffa707);
  }.skills .skill-card h6{
    color: white;
  }
  .skills .skill-card .card-body{
    z-index: 2;
  }
  .skills .skill-card .particle-skill{
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background: linear-gradient(45deg, transparent, rgba(234, 185, 6, 0.7019607843137254));
  }
  .skills .item-skill{
    margin-bottom: 1rem;
  }
  .skills .item-skill .progress{
    height: 0.5rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgba(0, 0, 0, 0);
  }
  .skills .item-skill .progress-bar{
    border-radius: 50px;
    background: linear-gradient(245deg, white, rgba(255, 255, 255, 0.1411764705882353));
  }
  .skills .tool-card{
    padding: 1.5rem;
    background: linear-gradient(45deg, #27024a, #059db5);
    border: unset;
    border-radius: 20px;
  }
  .skills .tool-card .tool-img{
    width: 40px;
    height: 40px;
    overflow: hidden;
  }
  .skills .tool-card .tool-img img{
    width: 100%;
  }
  /* ----project----- */
  .project{
    background: #201f1f;
    padding-top: 2rem;
  }
  .project .project-box{
    padding-bottom: 2rem;
    border-radius: 40px 40px 0px 0px;
    background: #272727;
    /* background: #313030; */
    padding-right: 30px;
    padding-left: 30px;
  }
  .project-box .nav-item .nav-link{
    color: #f1f1f1;
    transform: scale(1);
    transition: all 1s;
  }
  .project-box .nav-item .nav-link.active{
    background: rgba(0, 99, 204, 0.09411764705882353);
    transform: scale(1.1);
    transition: all 1s;
  }
  .project-box .nav-item .nav-link.active::after{
    display: block;
    content: '';
    border: 2px solid #0062cc;
    border-radius: 100px;
  }
  .project-box .code-card{
    border: unset;
    border-radius: 20px 20px 20px 20px;
    background: #282a2c;
  }
  .project-box .code-card .code-img{
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
  }
  .project-box .code-title .code-img img{
    width: 100%;
  }
  /* edukasi */
  .edu{
    background: #272727;
  }
  .edu .edu-box{
    padding-top: 2rem;
    background: #313030;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 40px 40px 0px 0px;
  }
  /* conttact */
  .contact .contact-box{
    padding-top: 2rem;
    padding-right: 30px;
    padding-left: 30px;
  }


  .contact-box .akun-box{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-box .akun-box .email-btn{
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 100px;
    background: #a52323;
  }
  .contact-box .akun-box .wa-btn{
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 100px;
    background: #0f4437;
  }
}