/* component */

/* particle */
.hero-app-1 {
    position: absolute;
    left: 70%;
    top: 30%;
}
.hero-app-2 {
    position: absolute;
    left: -5%;
    bottom: 35%;
  }
  .hero-app-3 {
    position: absolute;
    top: 20%;
    left: 25%;
  }
  .hero-app-4 {
    position: absolute;
    bottom: 20%;
    left: 50%;
  }
.custom-animation {
    backface-visibility: hidden;
    animation: jumping 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all .9s ease 5s;
    user-select: none;
}
.custom-animation2 {
    backface-visibility: hidden;
    animation: jumping2 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 1s ease 3s;
    user-select: none;
  }
  .custom-animation3 {
    backface-visibility: hidden;
    animation: jumping3 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 7s ease 2s;
    user-select: none;
  }
  .custom-animation4 {
    backface-visibility: hidden;
    animation: jumping4 9s ease-in-out 2s infinite alternate;
    animation-delay: 1s;
    transition: all 8s ease 4s;
    user-select: none;
  }
@keyframes jumping {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .8;
    }
    25% {
      transform: translateY(-10px) translateX(-10px) rotate(20deg) scale(0.8);
      opacity: .9;
    }
    50% {
      transform: translateY(-15px) translateX(-15px) rotate(10deg) scale(0.9);
      opacity: .8;
    }
    75% {
      transform: translateY(-20px) translateX(-20px) rotate(20deg) scale(0.75);
      opacity: .6;
    }
    85% {
      transform: translateY(-25px) translateX(-25px) rotate(20deg) scale(0.9);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(-15px) rotate(0) scale(0.95);
      opacity: .85;
    }
  }
  @keyframes jumping2 {
    0% {
      transform: translateY(0px) translateX(0) rotate(0) scale(1);
      opacity: .5;
    }
    25% {
      transform: translateY(-30px) translateX(10px) rotate(20deg) scale(0.8);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.7);
      opacity: .8;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(20deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.75);
      opacity: .9;
    }
  }
  
  @keyframes jumping3 {
    0% {
      transform: translateY(10px) translateX(0) rotate(0) scale(1);
      opacity: .9;
    }
    20% {
      transform: translateY(20px) translateX(10px) rotate(-20deg) scale(0.8);
      opacity: .8;
    }
    40% {
      transform: translateY(15px) translateX(-15px) rotate(10deg) scale(0.75);
      opacity: .8;
    }
    40% {
      transform: translateY(-15px) translateX(-25px) rotate(10deg) scale(0.5);
      opacity: 1;
    }
    80% {
      transform: translateY(-30px) translateX(20px) rotate(-20deg) scale(0.75);
      opacity: .6;
    }
    100% {
      transform: translateY(15px) translateX(15px) rotate(0) scale(0.95);
      opacity: .7;
    }
  }
  
  @keyframes jumping4 {
    0% {
      transform: translateY(-30px) translateX(20px) rotate(0) scale(1.2);
      opacity: .7;
    }
    25% {
      transform: translateY(-20px) translateX(10px) rotate(50deg) scale(0.6);
      opacity: .8;
    }
    50% {
      transform: translateY(15px) translateX(-15px) rotate(20deg) scale(0.5);
      opacity: .9;
    }
    75% {
      transform: translateY(30px) translateX(20px) rotate(50deg) scale(0.75);
      opacity: .7;
    }
    100% {
      transform: translateY(-15px) translateX(15px) rotate(0) scale(0.5);
      opacity: .9;
    }
  }
  
  @keyframes jumping10 {
    0% {
      transform: rotate(180deg);
      display: block;
    }
    100% {
      transform: rotate(30deg);
      display: block;
    }
  }
  
  @keyframes jumping11 {
    0% {
      transform: rotate(180deg) translate(-20px, 20px);
      display: block;
    }
    100% {
      transform: rotate(30deg) translate(0px, 0px);
      display: block;
    }
  }
/* text-color */
.text-grey{
    color: #f2f2f2;
}

/* Laptop */
@media screen and (min-width: 1024px){  
.heading-1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    margin-top: 0px;
    margin-bottom: 2px;
}
.navbar{
    position: fixed;
}
body .jumbotron{
    background: url(../img/bali.png);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    margin: unset;
    padding: unset;
}
.jumbotron .overlay{
    background: linear-gradient(45deg, #09444ee0, #06044ac2);
    width: 100%;
    height: 100%;
    margin: unset;
    max-width: unset !important;
}
.jumbotron .container{
    /* position: absolute; */
}
.jumbotron .menu{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}
.jumbotron .menu li{
    display: inline;
    list-style-type: none;
    margin-right: 2rem;
}
.jumbotron .menu li a{
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.jumbotron .row-2{
    height: 100%;
}
.jumbotron .name-box{
    margin: auto auto;
    float: right;
}
.jumbotron .text-box{
    /* transform: skewY(-5deg); */
}
.jumbotron .name-box .heading-outline{
    color: transparent;
    -webkit-text-stroke: 1px white;
}
.jumbotron .col-md-4{
    margin: auto auto;
    float: right;
}
.jumbotron .img-box{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
}
.jumbotron .img-box img{
    height: 100%;
}
.jumbotron .col-md-2{
    padding: unset;
    margin: auto;
}
.jumbotron .sosmed{
    display: flex;
    flex-direction: row;
    transform: rotate(-90deg);
}
.jumbotron .sosmed span{
    color: white;
    font-size: larger;
    margin-left: 1rem;
}
}

/* HP */
@media screen and (max-width: 757px){
    /* huaa */
    .desktop{
        display: none;
    }
    /* huaa */
    /* Componen */
    .particle-span{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: #124773;
    }
    .particle-span-2{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: linear-gradient(45deg, transparent, #093f79);
    }.particle-span-3{
        display: block;
        width: 250px;
        height: 250px;
        border-radius: 100%;
        background: #0062cc96;
    }
    .hero-app-1 {
        position: absolute;
        left: 70%;
        top: 0%;
    }
    .hero-app-2 {
        position: absolute;
        left: -15%;
        top: 4%;
        bottom: unset;
    }
    .hero-app-3 {
        position: absolute;
        left: 10%;
        top: 50%;
        bottom: unset;
    }
    .line-head{
        display: block;
        border: 3px solid #0062cc;
        width: 20%;
        margin: 1rem auto;
        border-radius: 1000px;
    }
    .header .jumbotron{
        padding: 20px 10%;
        margin: unset;
        height: 60vh;
        border-radius: unset;
        background: linear-gradient(45deg, #05275f, #124165);
    }
    .header .jumbotron .row-head{
        height: 50vh;
    }
    .header .head-box{
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .header .jumbotron .img-box{
        z-index: 100;
        display: flex;
        margin: 0 auto;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        background: radial-gradient(rgba(7, 42, 96, 0), rgba(25, 102, 165, 0.3215686274509804));
    }
    .header .jumbotron .img-box-2{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 100%;
        overflow: hidden;
        box-shadow: -1px 10px 30px 0px #07192d80;
    }
    .header .jumbotron .img-box-2 img{
        height: 100%;
    }
    .header .jumbotron .head-title{
        margin-top: 2rem;
    }
    .header .jumbotron .head-title h4 {
        color: white;
        margin: unset;
    }
    /* about */
    .about .about-box{
        position: relative;
        top: -30px;
        border-radius: 30px 30px 0px 0px;
        background: white;
        padding-right: 30px;
        padding-left: 30px;
        height: 40vh;
    }
    .about .about-title{
        padding-top: 1rem;

    }
}